
<div class="col-5 ms-5">
  <form action=""  [formGroup]="date" >
<label class="form-label" for="appointment">Select Date</label>
<input class="form-control " type="date" name="appointment"
formControlName="appointment"
[class.is-valid]="date.get('appointment')?.valid"
[class.is-invalid]="date.get('appointment')?.invalid"
[ngModel]="today | date:'yyyy-MM-dd'"
(ngModelChange)="today = $event">

<button type="submit" [disabled]="date.invalid" (click)="addAppointment()" class="btn btn-primary mt-2">Add Appointment</button>

</form>
</div>

